@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cartContainer {
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    flex-direction: column;
    gap: 2rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantityCart {
    font-family: "Display",  serif;
    font-size: 1.3rem;
}

.image {
    height: 20rem;
    max-width: 100%;
    object-fit: contain;
    border-radius: 1rem;
    flex: 1;
}

.item {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    transition: all 300ms ease-in-out;
    will-change: transform;
    gap: 0.5rem;
    width: 100%;
}

.info {
    flex: 1;
}

.item:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.title {
    font-family: "Display",  serif;
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

.price {
    font-family: 'Roboto', serif;
    color: #E67E22;
}

.inputQuantity {
    background-color: transparent;
    border: none;
    width: auto;
    min-width: 1ch;
    max-width: 3ch;
    text-align: center;
}

.quantityFormButton {
    background-color: yellow;
    max-width: 4rem;
    border: none;
}

.quantityButton {
    object-fit: contain;
    height: auto;
    max-width: 1rem;;
    background-color: transparent;
}

.quantityButton:hover {
    cursor: pointer;
}


.quantityForm {
    display: flex;
    background-color: yellow;
    width: fit-content;
    border-radius: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 0.7rem;
}

.deleteButton {
    background-color: transparent;
    border: none;
    color: yellow;
    margin-top: 1rem;
    font-size: 1rem;
    font-family: "Display",  serif;
    cursor: pointer;
}


.deleteButton:hover {
    text-decoration: underline;
}


.handleQuantityDiv {
    display: flex;
    gap: 1rem;
}

.line {
    width: 100%;
    border-bottom: 1px dashed #333;
}

@media (max-width: 1000px) {
    .item {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    .cartContainer{
        padding: 2rem;
    }
}